MQTT_HOST=mosquitto
MQTT_PORT=1883
MQTT_USERNAME=recorder
MQTT_PASSWORD=change-me
MQTT_TOPIC=owntracks/#

DAWARICH_URL=http://dawarich_app:3000
DAWARICH_API_KEY=change-me

LOG_LEVEL=INFO
REQUEST_TIMEOUT=10
